---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import PhotoSection from '../components/PhotoSection.astro'
import DateSection from '../components/DateSection.astro'
import Itinerary from '../components/Itinerary.astro';
import DIrections from '../components/DIrections.astro';
import DressCode from '../components/DressCode.astro';
import Confirmation from '../components/Confirmation.astro';
import Picture from '../components/Picture.astro';
---

<Layout 
title="Melford - Matrimonio de Melanie y Wilford"
description="Matrimonio de Melanie y Wilford">
	<main class="w-full min-h-screen overflow-hidden">
		<Hero />
		<PhotoSection />
		<DateSection />
		<Itinerary />
		<DIrections />
		<DressCode />
		<Confirmation />
		<Picture />
	</main>
</Layout>

