---
import '@fontsource-variable/montserrat';

import Layout from '../layouts/Layout.astro';
---

<Layout title="Melford - Matrimio de Melanie y Wilford">
	<main class="w-full min-h-screen overflow-hidden">
		<header class="w-[90%] max-w-3xl min-h-screen mx-auto relative">
			<div class="w-full h-10 bg-[var(--secondary)] absolute z-10"></div>
			<picture class="w-full h-[calc(100vh_-_2.5rem)] relative z-0">
				<img class="w-full h-auto object-cover object-bottom sticky" src="img/hero.webp" alt="hero pic matrimonio de Melanie & Wilford">
				<div class="w-[19rem] fixed bottom-0 text-[var(--white)] z-10">
					<p class="text-5xl font-medium text-current">The perfect match</p>
					<h2 class="text-2xl font-extrabold text-current">MELANIE + WILFORD</h2>
				</div>
			</picture>
		</header>
	</main>
</Layout>

<style>
	
</style>