
<section class="w-full min-h-full max-w-3xl text-center pb-8 mx-auto">
    <picture class="h-44 md:h-[22rem] w-full block bottom-0 relative overflow-hidden">
        <img class="h-[125%] w-[120%] object-cover absolute bottom-0" src="img/pic-1.webp" alt="Matrimonio Melanie & Wilford picture">
    </picture>
    <div>
        <img 
        src="img/petition.svg" 
        alt="petition pic" 
        class="w-3/5 max-w-md h-auto mx-auto my-4"/>
        <p class="spc w-4/5  max-w-[300px] md:max-w-md mx-auto text-xs md:text-lg font-montse">Queremos que nos acompañen en este momento tan anhelado en el que celebraremos nuestra unión. <strong>No</strong> contaremos con ningún programa ni área especial para los <strong>niños</strong>, por lo que solo se permitirá el ingreso a los adultos a la recepción.</p>
    </div>
    <picture class="w-full h-24 md:h-48 flex justify-between items-center relative mt-4 overflow-hidden">
        <img class="softMove leftLeaf w-[70%] h-auto absolute -left-[30%]" src="img/leaves-2.svg" alt="leaves wedding Melanie & Wilford">
        <img class="softMove rightLeaf w-[44%] h-auto right-0 absolute" src="img/leaves-3.svg" alt="leaves wedding Melanie & Wilford">
    </picture>
    <div class="spc w-4/5 max-w-[300px] md:max-w-md mx-auto text-xs md:text-lg font-montse grid justify-items-center gap-2">
        <p>Esperamos contar con su presencia ya que es parte importante de nuestra boda.</p>
        <p>Agradecemos confirmar su asistencia hasta el <strong>16 de septiembre de 2024</strong>.</p>
        <div class="h-min grid grid-cols-1 grid-rows-1 mt-4">
            <div class="bg-text w-full h-full animate-pulse col-start-1 col-end-2 row-start-1 row-end-2 mt-1 ml-1 z-0"></div>
            <a class="spc1-2 bg-primary text-bg text-base md:text-lg font-against col-start-1 col-end-2 row-start-1 row-end-2 rounded-sm py-1 px-4 z-10" href="#">CONFIRMAR ASISTENCIA</a>
        </div>
    </div>
</section>

<style>
    .leftLeaf {
        transform-origin: 0% 50%;
    }
    .rightLeaf {
        transform-origin: 100% 50%;
        animation-delay: 2s;
    }
    @keyframes softMove {
        0% {
            transform: rotate(2deg) translateX(0px);
        }
        50% {
            transform: rotate(0deg) translateX(10px);
        }
        100% {
            transform: rotate(2deg) translateX(1px);
        }
    }
</style>