
<section class="w-full max-w-3xl min-h-full relative  mx-auto pb-8">
    <picture class="w-full h-24 md:h-48 flex justify-between items-center relative overflow-hidden">
        <img class="w-[70%] h-auto absolute -left-[30%]" src="img/leaves-2.svg" alt="">
        <img class="w-[44%] h-auto right-0 absolute" src="img/leaves-3.svg" alt="">
    </picture>
    <img class="aspect-square w-4/5 max-w-sm mx-auto" src="img/date.svg" alt="">
    <img class="w-4/5 max-w-lg mx-auto mt-4" src="img/calendar.svg" alt="">
    <img class="absolute w-[45%] -right-14 md:-right-[4.5rem] bottom-[0.125rem] md:-bottom-[2.325rem] -z-10" src="img/leaves-4.svg" alt="">
</section>