
<section class="w-full max-w-3xl min-h-full mx-auto overflow-hidden gap-4 flex flex-col pb-8">
    <img class="w-3/4 max-w-xl h-auto -ml-[20%]" src="img/leaves-5.svg" alt="">
    <div class="w-[90%] max-w-3xl min-h-full flex justify-between md:justify-center gap-[.25rem] md:gap-10 mx-auto">
        <div class="grid gap-2 w-[75%] max-w-[414px]">
            <p class="spc1-2 font-montse text-base md:text-xl">Parroquia Santuario Nuestra Señora de la Alborada</p>
            <a target="_blank" href="https://maps.app.goo.gl/cUbP9rEYbdUJFgya6" class="bg-primary rounded-lg text-bg flex items-center h-20 gap-2 md:gap-4 px-3 md:px-4">
                <img class="h-10 w-auto" src="icons/ico-gps.svg" alt="">
                <p class="spc1-2 text-sm md:text-lg font-montse text-pretty">V462+6F3, Av. José María Egas, Guayaquil</p>
            </a>
        </div>
        <div class="flex flex-col justify-center items-center md:gap-2">
            <p class="spc1 font-montse text-sm md:text-2xl">Ceremonia</p>
            <h3 class="font-against text-2xl md:text-[2.5rem]">13H00</h3>
        </div>
    </div>
    <div class="w-[90%] max-w-3xl min-h-full flex justify-between md:justify-center gap-[.25rem] md:gap-10 mx-auto">
        <div class="grid gap-2 w-[75%] max-w-[414px]">
            <p class="spc1-2 font-montse text-base md:text-xl">Bosque Aventura - Eventos</p>
            <a target="_blank" href="https://maps.app.goo.gl/C1iGS2Mq8KmaUVm58" class="bg-primary rounded-lg text-bg flex items-center h-20 gap-2 md:gap-4 px-3 md:px-4">
                <img class="h-10 w-auto" src="icons/ico-gps.svg" alt="">
                <p class="spc1-2 text-sm md:text-lg font-montse text-pretty">Bosque Aventura, Km 33 Vía a la Costa, Guayaquil</p>
            </a>
        </div>
        <div class="flex flex-col justify-center items-center md:gap-2">
            <p class="spc1 font-montse text-sm md:text-2xl">Recepción</p>
            <h3 class="font-against text-2xl md:text-[2.5rem]">15H00</h3>
        </div>
    </div>
</section>