

<section class="relative w-full max-w-3xl min-h-full mx-auto overflow-hidden py-10 md:pb-16">
    <img
    src="img/leaves-1.png"
    alt="leaves melford wedding"
    class="move w-[8.5rem] md:w-[17rem] absolute top-0 -right-4 md:-right-0" />
    <img 
    src="img/dress-code.svg" 
    alt="dress code wedding Melanie & Wilford" 
    class="w-3/5 max-w-[25rem] mt-12 md:mt-20 mx-auto"/>
    <div class="w-full flex justify-center items-center gap-2 mt-4 md:mt-6">
        <img 
        src="img/color-1.png"
        alt="color wedding dress code Melanie & Wilford"
        class="w-14 md:w-20" />
        <img 
        src="img/color-2.png"
        alt="color wedding dress code Melanie & Wilford"
        class="w-14 md:w-20" />
        <h3 class="spc1-2 text-2xl md:text-3xl text-text font-montse">Formal</h3>
        <img 
        src="img/color-3.png"
        alt="color wedding dress code Melanie & Wilford"
        class="w-14 md:w-20" />
        <img 
        src="img/color-4.png"
        alt="color wedding dress code Melanie & Wilford"
        class="w-14 md:w-20" />
    </div>
    <img
    src="img/leaves-1.png"
    alt="leaves melford wedding"
    class="left-side movingLeft w-[8.5rem] md:w-[16rem] absolute top-[12rem] md:top-[18rem] -left-4 md:-left-0" />
    <img
    src="img/envelope.svg"
    alt="gif wedding Melanie & Wilford" 
    class="w-16 md:w-[5.5rem] mt-10 md:mt-16 mx-auto mb-6 md:mb-10"/>
    <div class="spc w-[90%] max-w-[506px] mx-auto font-montse text-text text-pretty text-center text-xs md:text-lg">
        <p class="mb-2 md:mb-4">Contribuyendo con nuestro proyecto de vida juntos, agradecemos su obsequio en sobre cerrado el día de la recepción o a la siguiente cuenta</p>
        <p>Cuenta corriente 1400612562</p>
        <p>Banco Internacional</p>
        <p>Melanie Anali Santillán</p>
        <p>C.I.: 0927094565</p>
        <p>melaniasantillanv@gmail.com</p>
    </div>
    <img
    src="img/leaves-1.png"
    alt="leaves melford wedding"
    class="movingRight rot w-[8.5rem] md:w-[17rem] absolute bottom-0 -right-4 md:-right-0" />
</section>

<style>
    .move {
        transform-origin: 100% 100%;
    }
    .left-side {
        transform: rotateY(180deg) rotate(335deg);
    }
    .rot {
        transform: rotate(335deg);
    }
    .movingLeft {
        animation: movingLeft 4s linear infinite both;
    }

    .movingRight {
        animation: movingRight 6s ease-in infinite both;
    }

    @keyframes movingLeft {
        0% {
            transform: rotateY(180deg) rotate(335deg);
        }
        50% {
            transform: rotateY(160deg) rotate(330deg);
        }
        100% {
            transform: rotateY(180deg) rotate(335deg);
        }
    }

    @keyframes movingRight {
        0% {
            transform: rotate(335deg);
        }
        50% {
            transform: rotate(330deg);
        }
        100% {
            transform: rotate(335deg);
        }
    }
</style>