
<article class="spc1-2 font-montse w-full max-w-3xl mx-auto bg-primary text-bg text-sm md:text-lg text-center py-4">
    <p>Si atacan a uno, los dos harán frente</p>
    <p>La cuerda de tres hilos no es fácil de romper</p>
    <h3 class="mt-4">Eclesiastés 4:12</h3>
</article>