
<header class="h-screen w-full max-w-3xl mx-auto relative">
    <div class="h-[8vh] w-full bg-primary"></div>
    <h1 class="font-against font-semibold animate-fade-up animate-duration-500 animate-delay-200 animate-ease-out w-full absolute top-[13vh] text-[2.5rem] md:text-[5rem] lg:text-[5rem] text text-text text-center">MELFORD</h1>
    <img class="h-full md:h-auto w-auto md:w-full absolute object-cover bottom-0 -z-10" src="img/hero.webp" alt="hero pic matrimonio de Melanie & Wilford">
    <div class="spc1-2 animate-fade-right animate-duration-500 animate-delay-500 w-56 md:w-[19rem] absolute bottom-[10%] left-[5%] text-bg z-10">
        <p class="text-3xl md:text-5xl font-montse font-medium text-current">The perfect match</p>
        <h2 class="text-base md:text-2xl font-montse font-extrabold text-current">MELANIE + WILFORD</h2>
    </div>
</header>

<style>
    h1 {
        -webkit-text-stroke: 0.75px white;
        letter-spacing: 4px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
    }

    @media (width > 767px) {
        h1 {
            letter-spacing: 8px;
        }
    }
</style>