
<div id="playerContainer" class="cristal h-8 md:h-12 w-8 md:w-12 fixed right-0 left-0 mx-auto top-[80%] grid grid-cols-1 grid-rows-1 justify-items-center items-center rounded-full text-primary outline-primary opacity-70 duration-300 cursor-pointer z-50">
    <svg
    id="play" 
    width="28"
    height="28"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="duration-300 icon icon-tabler icons-tabler-filled icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>
    <svg
    id="pause" 
    width="28"
    height="28"
    viewBox="0 0 24 24"
    fill="currentColor"
    class="pressed duration-300 icon icon-tabler icons-tabler-filled icon-tabler-player-pause"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 4h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2z" /><path d="M17 4h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2z" /></svg>
</div>

<style>
    #playerContainer {
        transform: translateX(490%);
        outline: 2px solid;
    }
    svg {
        transform: scale(0);
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .pressed {
        transform: scale(1);
    }
    div:hover {
        opacity: 1;
    }
    
    div:active {
        transform: scale(.9);
    }
    @media (width > 767px) {
        #playerContainer {
            transform: translateX(700%);
        }
    }
 
</style>

<script>
    const btnPlay = document.getElementById('play')
    const btnPause = document.getElementById('pause')
    let audio = new Audio('/sounds/music.m4a')

    const playMusic = () => {
        btnPlay.style.transform = "scale(0)"
        btnPause.style.transform = "scale(1)"
        audio.play()
    }

    const pauseMusic = () => {
        audio.pause()
        btnPlay.style.transform = "scale(1)"
        btnPause.style.transform = "scale(0)"
    }

    document.addEventListener('DOMContentLoaded', pauseMusic)
    

    btnPause.addEventListener('click', pauseMusic)
    btnPlay.addEventListener('click', playMusic)

</script>