---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	.spc {
		letter-spacing: 0.5px;
	}
	 .spc1 {
        letter-spacing: 0px;
    }
    .spc1-2 {
        letter-spacing: 1px;
    }

	.softMove {
		animation: softMove 3s linear infinite both;
	}

	.movingLeftLeaves {
		animation: movingLeftLeaves 4s ease infinite both;
	}

    @media (width > 767px) {
		.spc {
			letter-spacing: 1px;
		}
        .spc1 {
            letter-spacing: 1px;
        }
        .spc1-2 {
            letter-spacing: 2px;
        }

		@keyframes softMove {
			0% {
				transform: rotate(3deg);
				right: -1rem;
			}
			50% {
				transform: rotate(-3deg);
				right: -1.5rem;
			}
			100% {
				transform: rotate(3deg);
				right: -1rem;
			}
		}
	}
	@font-face {
		font-family: "brand";
		src: url('/fonts/Brand.otf');
	}
	@font-face {
		font-family: "against";
		src: url('/fonts/against.ttf');
	}

	@font-face {
		font-family: "montse";
		src: url('/fonts/Montse.ttf');
	}

	@keyframes softMove {
		0% {
			transform: rotate(5deg);
			right: -2.5rem;
		}
		50% {
			transform: rotate(-5deg);
			right: -3rem;
		}
		100% {
			transform: rotate(5deg);
			right: -2.5rem;
		}
	}
	@keyframes movingLeftLeaves {
		0%{
			left: -30%;
			transform: rotate(2deg);
		}
		50%{
			left: -32%;
			transform: rotate(-2deg);
		}
		100%{
			left: -30%;
			transform: rotate(2deg);
		}
	}
</style>
