---
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
import '@fontsource-variable/montserrat';

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ description } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "brand";
		src: url('fonts/Brand.otf');
	}
	@font-face {
		font-family: "against";
		src: url('fonts/against.ttf');
	}

	@font-face {
		font-family: "montse";
		src: url('fonts/Montse.ttf');
	}
</style>
